baseURL = "https://example.org" # UPDATE TO LIVE SITE LINK (or let ci/cd handle it)
languageCode = "en-us"
title = "EXAMPLE PROJECT" # UPDATE TO PROGRAM NAME
theme = "lc-learn"

[params]
  themeVariant = "blue"

[outputs]
  home = ["HTML", "RSS", "JSON"]
