{{ partial "header.html" . }}

{{$wikilinks := .Content | findRE "\\[\\[([^/]+)\\]\\]" }}
{{$temp_content := $.Content}}
{{range $wikilinks}} 
    {{$page_title := . | strings.TrimPrefix "[[" | strings.TrimSuffix "]]" }}
    {{range first 1 (where site.Pages "Params.title" $page_title)}}
        {{$temp_content = ($temp_content | replaceRE (printf "\\[\\[%s\\]\\]" $page_title) (printf "<a href=\"%s\">[[%s]]</a>" .Permalink $page_title) )}}
    {{end}}
{{end}}
{{$temp_content  | safeHTML}}

<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
